<%layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%=user.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=user.firstName%> <%=user.lastName%></h5>
              <h6 class="card-title"><%=user.gender.toUpperCase()%>, <%=user.age%></h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><span class="fw-bold">Email:</span> <%=user.email%></li>
              <li class="list-group-item"><span class="fw-bold">Address:</span> <%=user.address%></li>
              <li class="list-group-item"><span class="fw-bold">Phone:</span> <%=user.phone%></li>
              <li class="list-group-item"><span class="fw-bold">Birth Date:</span> <%=user.birthDate%></li>
              <li class="list-group-item"><span class="fw-bold">Blood Group:</span> <%=user.bloodGroup%></li>
              <li class="list-group-item"><span class="fw-bold">Eye Color:</span> <%=user.eyeColor%></li>
              <li class="list-group-item"><span class="fw-bold">Height and Weight:</span> <%=user.height%> and  <%=user.weight%> Kg</li>
            </ul>
            <div class="card-body">
              <a href="/" class="card-link btn btn-primary">Back</a>
              <a href="/users/<%=user._id%>/edit" class="card-link btn btn-info">Edit</a>
              <form class="d-inline" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
    </div>
</div>